$main-text-color: #ffffff;

$linear-background-first: #20687e;
$linear-background-last: #49a8c6;

$input-field-background: #eee;

$correct-question-background: green;

$incorrect-question-background: red;
